extends layout
block content
  h1= group_name
  input(type='hidden' value='#{group_id}')#group_id

  #chatBox(style='width: 87%; height: 500px; overflow: auto; border: 1px solid #000; float: left; margin-right: 10px;')

  div(style='width: 10%; height: 500px; border: 1px solid #000;overflow: auto;')
    p MEMBER
    ul#memberList
    each member, i in memberList
      li #{member}
  form
    span#username #{username}
    input(type='text', style='width: 300px;')#messageBox
    input(type='submit', value='send')

  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript').
    $(document).ready(function() {
      var room = io.connect('/chatRoom');
      var roomId = $('#group_id').val();
      var roomName = '#{group_name}';
      console.log(roomName)
      var chatBox = $('#chatBox');
      var messageBox = $('#messageBox')
      var username = $('#username').text()

      function showMessage(msg) {
      console.log(msg)
        chatBox.append($('p').text(msg));
        chatBox.scrollTop(chatBox.height());
      }

      room.on('connect', function() {
        console.log('client connect')
        room.emit('join', {roomId: roomId, roomName: roomName, username: username});
      });

      room.on('joined', function(data) {
        console.log('client joined')
        if (data.isSuccess) {
          showMessage(data.username + 'now entered.');
        }
      })

    });




