extends layout
block content

  - if (!isSuccess)
      script.
        alert("방에 못들어감");
        location.href='/chatList';
  - else

      h1= room_name
        input#leave(type='button', value='OUT')

      input(type='hidden' value='#{room_id}')#room_id

      #chatBox(style='width: 87%; height: 500px; overflow: auto; border: 1px solid #000; float: left; margin-right: 10px;')

      div(style='width: 10%; height: 500px; border: 1px solid #000;overflow: auto;')
        p MEMBER
          ul#memberList
            //each member, i in memberList
            //  li #{member}
      form
        span#username #{username}
        input(type='text', style='width: 300px;')#messageBox
        input(type='submit', value='send')

        script(type='text/javascript', src='/socket.io/socket.io.js')

        script(type='text/javascript').
          $(document).ready(function () {
            var room = io.connect('/chatRoom');
            var room_id = $('#room_id').val();
            var room_name = '#{room_name}';
            var chatBox = $('#chatBox');
            var messageBox = $('#messageBox');
            var username = $('#username').text();

            function showMessage(msg) {
              chatBox.append($('<p>').html(msg));
              chatBox.scrollTop(chatBox.height());
            }

            function showMembers(memberList) {
              console.log(memberList)
              $("#memberList").html('')
              for (var i = 0; i < memberList.length; i++) {
                $("#memberList").append('<li>' + memberList[i] + '</li>');
              }
            }

            // 내 창에 보이게 함.
            $('form').submit(function(e) {
              e.preventDefault();
                var msg = messageBox.val();

                if ($.trim(msg) !== '') {
                  showMessage('[ME:<b> ' + username + '</b>] ' + msg);
                  room.json.send({username: username, msg: msg});
                  messageBox.val('');
                  messageBox.focus();
                }
            });

            room.on('connect', function () {
              room.emit('join', {room_id: room_id, room_name: room_name, username: username});
            });

            room.on('joined', function (data) {
              if (data.isSuccess) {
                showMessage(data.username + ' now entered.');
                showMembers(data.memberList)
              }
            });

            // 서버로 보냄.
            room.on('message', function(data) {
              showMessage('[FROM:' + data.username +  '] ' + data.msg);
            });
          });

